.shop-header {
  background-color: var(--primary-color);
  color: var(--text-main);
  padding: var(--spacing-base);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: var(--shadow);
}
.shop-container {
  display: flex;
  gap: 40px;
  padding: var(--spacing-base);
  max-width: 100vw;
  margin: 0 auto;
}

.shop-catalog {
  flex: 1;
}

.shop-sidebar {
  width: 300px;
  flex-shrink: 0;
}
